.card {
    width: 600px;
    height: 700px;
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
  }
  
  .card:before {
    position: absolute;
    transition: all 0.3s ease;
    z-index: -1;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card:hover:before {
    top: 0;
    left: 0;
  }
  
  .card-content {
    display: flex;
    padding: 15px;
    text-align: center;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

   
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .card-description {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #777;
    height: 90%;

  }
  
  .card-button {
    padding: 10px 20px;
    background-color: #6f237b;
    color: #FFF;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: #5f2768c8;
  }

.container {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.resposta {
    height: 100%;
}

body {
    background-color: rgb(245, 215, 255);
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
}

p {
  margin: 5px;
}

h3 {
  margin: 2px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
}

th {
  background-color: #6f237b;
  color: #fff;
}